<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
 --> 
<mapper namespace="com.mark.mapper.UserMapper">
	<insert id="save" parameterType="user">
		insert into tb_user(username,password,idCard,age,gender) values (#{username},#{password},#{idCard},#{age},#{gender}) 
	</insert>
	
	<select id="findAll" resultType="user">
		select username,password,idCard,age,gender from tb_user  
	</select>
	
</mapper>    
